@{
    ViewData["Title"] = "Manager Dashboard";
    var branchId = (int)ViewBag.BranchId;
}

<h2>Manager Dashboard</h2>

<div class="list-group">
    <a class="list-group-item list-group-item-action" asp-controller="ManageStaff" asp-action="Index" asp-route-branchId="@branchId">Manage Staff</a>
    <a class="list-group-item list-group-item-action" asp-controller="Tables" asp-action="Index" asp-route-branchId="@branchId">Manage Tables</a>
    <a class="list-group-item list-group-item-action" asp-controller="MenuItems" asp-action="Index" asp-route-branchId="@branchId">Manage Menu Items</a>
    <a class="list-group-item list-group-item-action" asp-controller="Ingredients" asp-action="Index" asp-route-branchId="@branchId">Manage Ingredients</a>
    <a class="list-group-item list-group-item-action" asp-controller="Recipes" asp-action="Index" asp-route-branchId="@branchId" asp-route-menuItemId="0">Manage Recipes</a>
</div>




